<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <div class="d-flex">
          <% if(!user) { %>
            <form action="/register" class="inline">
              <button class="btn btn-primary" type="submit" style="margin-right: 10px;">Register</button>
            </form>
            <form action="/login" class="inline">
              <button class="btn btn-primary" type="submit">Login</button>
            </form>
          <% } else { %>
            <form method="POST" action="/logout" class="inline">
              <label for="userID" style="margin-right: 10px;">Logged in as: <%= user.email %></label>
              <button class="btn btn-primary" type="submit">Logout</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>